$text-main: 'KumbhSans', 'Arial', sans-serif;
$text-header: 'KumbhSans', 'Arial', sans-serif;

$primary: #6eb3a4;
$secondary: #333461;
$grey-100: #ffffff;
$grey-200: #f5f7fc;
$grey-300: #b0b0b0;
$grey-400: #6a6a6a;
$grey-600: #1b2129;
$primary-shadow: #6eb3a447;

$common-black: #1c2129;
