@font-face {
  font-family: 'KumbhSans';
  src: url('assets/fonts/KumbhSans-Variable.woff2');
}

@font-face {
  font-family: 'FuturaBold';
  src: url('assets/fonts/Futura-Bold.woff2');
}

#wpadminbar {
  max-width: 100%;
  overflow: hidden;
}
