.swiper {
  &-slide {
    height: auto !important;
    &__inner {
      height: 100%;
    }
  }
  & .wp-block-columns {
    background-color: white;
  }
  & .swiper-buttons {
    position: relative;
    display: flex;
    margin-top: 70px;
    width: 100%;
    justify-content: center;
    gap: 80px;
    overflow: visible;
    @include Mobile {
      margin-top: 50px;
      gap: 40px;
    }
    & .swiper-button {
      position: static;
      aspect-ratio: 1/1;
      width: 50px;
      height: 50px;
      border-radius: 5000px;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
      &::after {
        font-size: 20px;
      }
      &-prev {
        color: white;
        background-color: var(--wp--preset--color--neutral-800);
      }
      &-next {
        background-color: var(--wp--preset--color--primary);
        color: white;
      }
    }
  }
}

.testimonial {
  &__card {
    background-color: var(--wp--preset--color--neutral-150);
    padding: 30px;
    height: 100%;
    & img {
      max-width: none;
    }
    & .wp-block-group {
      &.is-layout-constrained {
        border-left: 1px solid $grey-300;
        padding-left: 20px;
      }
    }
    & > .wp-block-group-is-layout-flex {
      @include Mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
