.swiper {
  &-slide {
    height: auto !important;
    &__inner {
      height: 100%;
    }
  }
  & .wp-block-columns {
    background-color: white;
  }
}

.testimonial {
  &__card {
    background-color: white;
    padding: 30px;
    height: 100%;
    box-shadow: var(--wp--preset--shadow--natural-small);
    & img {
      max-width: none;
    }
    & .wp-block-group {
      &.is-layout-constrained {
        border-left: 1px solid $grey-300;
        padding-left: 20px;
      }
    }
    & > .wp-block-group-is-layout-flex {
      @include Mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
