.intro-animation {
  &__container {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    &.fade-out {
      opacity: 0;
    }
  }
  &__image {
    opacity: 1;
    transition: opacity 1.4s ease-in-out;
    &.animate {
      opacity: 0;
    }
    @include Mobile {
      max-width: 70%;
    }
  }
}
