.post-header {
  width: 100%;
  overflow-x: hidden;
  &__image {
    max-height: 400px;
    max-width: 100%;
    border-radius: 20px;
  }
  &__breadcrumbs {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    & a {
      text-decoration: none;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
