.post-card {
  width: 100%;
  &__link {
    text-decoration: none;
    &__image {
      border-radius: 20px;
      width: 100%;
    }
    &__title {
      margin-top: 10px;
      font-weight: 600;
    }
  }
}
